" plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'

set NERDTree

set relativenumber
set number
set scrolloff=5

set smarttab
set shiftwidth=2

" search
set incsearch
set ignorecase
set smartcase

" i like this cursor more
set guicursor=i:block

let mapleader = ' '
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" system register
map <leader>y "+y
map <leader>p "+p
map <leader>c "+c
map <leader>d "_d
map <leader>D "_D

" tabs
nmap <C-tab> gt
nmap <C-S-tab> gT

" switching between splits
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" move lines
vmap <M-j> :m '>+1<cr>gv=gv
vmap <M-k> :m '<-2<cr>gv=gv
nmap <M-j> :m .+1<cr>
nmap <M-k> :m .-2<cr>
imap <M-j> <Esc>:m .+1<cr>i
imap <M-k> <Esc>:m .-2<cr>i

" useful mappings
map <C-7> gcc
nmap <C-s> :w<cr>
nmap Y y$
nmap <leader>a ggVG

" don't exit visual mode when indenting
vmap < <gv^
vmap > >gv^

" resizing
nmap <up> :resize +2<cr>
nmap <down> :resize -2<cr>
nmap <left> :vertical resize +2<cr>
nmap <right> :vertical resize -2<cr>

" idea stuff
if has("ide")
  set ideajoin
  set idearefactormode=keep
  " hier noch Sachen aus meiner alten ideavimrc vom pc reinkopieren

  " actions
  map <leader>tt <Action>(Run)
  map <leader>n :NERDTreeToggle<cr>
  map == <Action>(ReformatCode)
endif

